.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #000, #010101);
  }
  
  .text-6xl {
    font-size: 8rem;
    font-weight: bold;
    font-family: "Coolvetica", sans-serif;
    margin: 0 4px;
    color: white;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transform-origin: center center;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
  }
  
  body {
    margin: 0;
    overflow: hidden;
  }
  
  .loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .next-component {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .text-6xl {
      font-size: 6rem; /* Reduce font size for tablets */
      margin: 0 2px;
    }
  }
  
  @media (max-width: 768px) {
    .text-6xl {
      font-size: 4rem; /* Further reduce font size for mobile phones */
    }
  
    .loader-container {
      padding: 10px; /* Add padding for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .text-6xl {
      font-size: 2rem; /* Smallest font size for very small screens */
      margin: 0 1px;
    }
  }
  