.footer-container {
  position: relative;
  height: auto;
  overflow: hidden;

  footer {
    position: relative;
    bottom: 0;
    background-color: #8a8372;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 20;
    transform-origin: center bottom;
    will-change: transform, opacity;

    hr {
      margin-top: 40px;
      width: 80%;
      border: 1px solid #fff;
    }

    .logo h2 {
      font-size: 7rem;
      font-family: "Quicksand";
    }

    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #c9bea2;
      padding: 10px 0;

      ul {
        display: flex;
        justify-content: center;
        gap: 80px;
        align-items: center;
        width: 100%;
        list-style: none;
        margin: 0;

        li a {
          font-family: "Quicksand";
          text-transform: uppercase;
          text-decoration: none;
          color: #000;
          font-size: 16px;
          font-weight: 800;
          transition: color 0.3s ease;

          &:hover {
            color: #222;
          }
        }
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      gap: 80px;

      

      a img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
        border-radius: 30%;

        &:hover {
          transform: scale(1.1) rotate(10deg);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .copyrights {
      font-size: 16px;
      margin: 20px 0;
    }
  }
}
