@font-face {
  font-family: "Quicksand";
  src: url(./assets/fonts/Quicksand.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Madurai";
  src: url("./assets/fonts/HindMadurai-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Averta";
  src: url("./assets/fonts/Averta.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets//fonts/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Questrial";
  src: url("./assets//fonts//Questrial-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input,
textarea,
button,
select {
  border: none;
  outline: none;
  font: inherit;
}

html {
  ::-webkit-scrollbar {
    display: none;
  }
}
