.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;

  .founder-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    height: 70%;
    padding: 20px;
    gap: 50px;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }

    .text-container {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      height: 100%;
      width: 70%;

      h2 {
        margin-top: 40px;
        font-size: 60px;
        margin-bottom: 20px;
        text-align: center;
        color: #b15324;
      }

      p {
        font-size: 20px;
        text-align: justify;
        margin-bottom: 20px;
        width: 100%;
        flex-grow: 1;
      }

      .cards-section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        height: 200px;
        gap: 10px;

        .card {
          width: 100%;
          height: 100%;
          background-color: #cbc0a7;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          cursor: pointer;
          font-size: 20px;
          margin-top: auto;

          &span {
            display: inline-block;
            transition: transform 0.3s ease, opacity 0.3s ease;
            will-change: transform, opacity;
          }

          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
