.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5% 10%;
  height: 100vh;

  h2 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    font-family: "Questrial";
  }

  p {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .about-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-around;
    overflow: hidden;

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 10px;

      .card {
        width: min-content;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 40px;
        text-align: start;
        color: #804224;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        position: relative;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: #4e2916;
        }

        &.active {
          transition: all 0.2s ease-in-out;
          color: #4e2916;
          scale: 1.1;
        }

        .line {
          position: absolute;
          width: 10%;
          height: 4px;
          border-radius: 50px;
          background: #4e2916;
          bottom: 10;
          transform: rotate(90deg);
          left: -12%;
          transition: all 0.2s ease-in-out;
        }

        &:hover .line {
          transform: rotate(90deg);
          transition: all 0.2s ease-in-out;
          width: 0;
        }

        &.active .line {
          transition: all 0.2s ease-in-out;
          width: 0;
        }
      }
    }

    .content-preview {
      width: 60%;
      border-radius: 15px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      text-align: center;

      .content-inner {
        display: flex;
        transition: transform 0.2s ease-in-out;

        .image-container {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .text-container {
          width: 100%;
          height: 50%;
          padding: 20px;
          position: absolute;
          h3 {
            font-family: "Quicksand";
            text-align: start;
            color: #4e2916;
            font-size: 1.8rem;
          }

          p {
            text-transform: none;
            text-align: start;
            font-size: 1.3rem;
            color: #666;
          }
          button {
          }
        }
      }
    }
  }
}
